---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Header from '../components/Header.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body class="bg-zinc-950 text-zinc-100 flex flex-col min-h-screen font-mono">
		<Header />
		<main class="w-full max-w-4xl mx-auto px-4 py-8 flex-grow">
			<article class="prose prose-invert prose-lg prose-zinc hover:prose-a:text-blue-400 prose-img:rounded-xl prose-headings:font-bold prose-headings:text-blue-500 max-w-none">
				<div class="not-prose mb-8">
					{heroImage && (
                        <div class="mb-8 rounded-xl overflow-hidden shadow-sm border border-zinc-800">
                            <Image width={1020} height={510} src={heroImage} alt="" class="w-full h-auto object-cover grayscale hover:grayscale-0 transition-all duration-500" />
                        </div>
                    )}
					<div class="text-center space-y-4">
						<div class="text-zinc-500 font-medium">
							<span class="text-blue-500 mr-2">$</span><FormattedDate date={pubDate} />
							{
								updatedDate && (
									<div class="italic text-sm mt-1">
										(updated: <FormattedDate date={updatedDate} />)
									</div>
								)
							}
						</div>
						<h1 class="text-4xl md:text-5xl font-bold tracking-tight text-zinc-100">{title}</h1>
						<hr class="border-zinc-800 my-8 border-dashed" />
					</div>
				</div>
				<slot />
			</article>
		</main>
		<Footer />
	</body>
</html>
